.contenedor-agregar-producto-padre{
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    background-color: white;
}