* {
  font-family: Arial, Helvetica, sans-serif;
}
.contenedor213{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.encabezado-productos {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(22, 22, 22);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 3;
}
.contenedor-productos {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  margin-top: 9%;
}
.contenedor-logo {
  width: 25%;
  height: auto;
}
.contenedor-logo .logo-producto {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fcfcff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.50em;
}
.enfasis{
  width: auto;
  height: auto;
  color: cadetblue;
}
.salirHeader {
  display: none; 
}
.listMenu{
  display: none;
}
.titulo-user {
  font-size: 20px;
  letter-spacing: 1px;
  width: 30%;
  height: auto;
  text-align: center;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.35em;
  font-style: italic;
}
.nombreUsuario {
  font-weight: bold;
  font-size: 20px;
}
.contenedor-opciones {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}
.titulo-dest {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0px;
  color: rgb(0, 0, 0);
}
.titulo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
.shop-productos {
  width: 40px;
  height: 40px;
}
.notificacion {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: beige;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-admin, .button-devolucion, .Carrito-compras, .Cerrar-Sesion{
  width: 15%;
  height: 60%;
  color: white;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.button-admin:hover, .button-devolucion:hover, .Carrito-compras:hover, .Cerrar-Sesion:hover{
  border-bottom: 2px solid gray;
  background-color: rgb(50, 50, 50);
}

/* Contenedor de productos  */
.contenedor-productos {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}
.productosDesct {
  margin: auto;
  width: 85%;
  height: auto;
  padding: 20px 25px;
  background-color: cadetblue;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
/* From Uiverse.io by MuhammadHasann */
.card {
  --bg-card-hover: rgb(139, 139, 139);
  --bg-card: rgb(227, 227, 227);
  --primary: chocolate;
  --primary-800: #ffffff;
  --primary-shadow: chocolate;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;

  padding: 1rem;
  width: 13rem;
  height: 350px;
  background-color: var(--bg-card);

  border-radius: 10px;
  transition-duration: 0.5s;
}
.card:hover{
  background-color: var(--bg-card-hover);
}
.image_container {
  /* overflow: hidden; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-800);
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.image_container .image {
  width: 3rem;
  height: auto;
}
.imgProducto {
  width: 70%;
  width: 70%;
}
.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-wrap: wrap;
  transition-duration: 0.7s;
}
.action {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition-duration: 0.7s;
}
.cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 50%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px white;
}

.cart-button .cart-icon {
  width: 1rem;
}

/* Productos Venta */
.productos-venta {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}
.notiProducto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bolita {
  color: white;
  width: auto;
  height: auto;
  background-color: red;
  border-radius: 12px;
}
.noti {
  padding: 5px 10px;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media (768px <= width <= 1024px) {
  .salirHeader {
    display: none; 
  }
  .listMenu{
    display: none;
  }
  .contenedor213 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
  }
  .encabezado-productos {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(22, 22, 22);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
  }
  .contenedor-opciones {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25em;
  }
  .button-admin, .button-devolucion, .Carrito-compras, .Cerrar-Sesion{
    width: 15%;
    height: 100%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .button-admin:hover, .button-devolucion:hover, .Carrito-compras:hover, .Cerrar-Sesion:hover{
    border-bottom: 2px solid gray;
    background-color: rgb(50, 50, 50);
  }
  .contenedor-opciones {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.45em;
  }
  .contenedor-logo {
    margin-top: 15px;
    width: 100%;
    height: 10%
  }
  .logo-producto{
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
  }
  .contenedor-productos {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 78%;
    height: auto;
    margin-top: 23%;
  }
  .productosDesct {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 20px 5px;
    background-color: cadetblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.55em;
  }
  /* tarjetas productos */
  .card {
    --bg-card: rgb(227, 227, 227);
    --primary: chocolate;
    --primary-800: #ffffff;
    --primary-shadow: chocolate;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3.5rem;

    padding: 0.3rem;
    width: 7.2rem;
    height: 220px;
    background-color: var(--bg-card);

    border-radius: 10px;
    overflow: hidden;
  }

  .image_container {
    /* overflow: hidden; */
    cursor: pointer;
    background-color: var(--primary-800);
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .image_container .image {
    width: 1.5rem;
    height: 30px;
  }
  .imgProducto {
    width: 70%;
  }

  .title {
    overflow: clip;
    width: 100%;
    font-size: 8px;
    color: black;
    text-transform: capitalize;
    text-wrap: wrap;
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.2rem;
  }

  .price {
    font-size: 9px;
    font-weight: bold;
    color:black;
  }

  .cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    width: 65%;
    background-image: var(--bg-linear);

    font-size: 7px;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid chocolate;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px chocolate;
  }

  .cart-button .cart-icon {
    width: 0.7rem;
  }
  .notificacion {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: beige;
    border-radius: 50%;
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo-dest {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0px;
    color: rgb(0, 0, 0);
  }
  .titulo-user {
    font-size: 16px;
    letter-spacing: 1px;
    width: 98%;
    height: auto;
    text-align: left;
    margin-bottom: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    font-style: italic;
  }
  .nombreUsuario {
    font-weight: bold;
    font-size: 16px;
  }
  .notiProducto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .bolita {
    color: white;
    width: auto;
    height: auto;
    background-color: red;
    border-radius: 12px;
  }
  .noti {
    padding: 5px 10px;
    font-weight: bold;
  }
}
@media (width < 768px) {
  .contenedor213 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
  }

  .encabezado-productos {
    display: none;
  }
  .encabezado-productos.mostrar{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    animation: desplazarHeader 1.0s ease forwards;
  } 
  @keyframes desplazarHeader{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0%);
    }
  }
  .button-admin, .button-devolucion, .Carrito-compras, .Cerrar-Sesion{
    width: 100%;
    height: 14%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .button-admin:hover, .button-devolucion:hover, .Carrito-compras:hover, .Cerrar-Sesion:hover{
    border-bottom: 2px solid gray;
    background-color: rgb(50, 50, 50);
  }
  .salirHeader{
    width: 90%;
    height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
  }
  .salirImgHeader{
    width: 30%;
    height: 80%;
  }
  .listMenu{
    display: block;
    width: 12%;
    height: auto;
  }
  .menu{
    width: 100%;
    height: auto;
  }
  .contenedor-opciones {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.45em;
  }
  .contenedor-logo {
    margin-top: 15px;
    width: 100%;
    height: 10%
  }
  .logo-producto{
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
  }
  .contenedor-productos {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 78%;
    height: auto;
    margin: auto;
  }
  .productosDesct {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 20px 5px;
    background-color: cadetblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.55em;
  }
  /* tarjetas productos */
  .card {
    --bg-card: rgb(227, 227, 227);
    --primary: chocolate;
    --primary-800: #ffffff;
    --primary-shadow: chocolate;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3.5rem;

    padding: 0.3rem;
    width: 7.2rem;
    height: 220px;
    background-color: var(--bg-card);

    border-radius: 10px;
    overflow: hidden;
  }

  .image_container {
    /* overflow: hidden; */
    cursor: pointer;
    background-color: var(--primary-800);
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .image_container .image {
    width: 1.5rem;
    height: 30px;
  }
  .imgProducto {
    width: 70%;
  }

  .title {
    overflow: clip;
    width: 100%;
    font-size: 8px;
    color: black;
    text-transform: capitalize;
    text-wrap: wrap;
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.2rem;
  }

  .price {
    font-size: 9px;
    font-weight: bold;
    color:black;
  }

  .cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    width: 65%;
    background-image: var(--bg-linear);

    font-size: 7px;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid chocolate;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px chocolate;
  }

  .cart-button .cart-icon {
    width: 0.7rem;
  }
  .notificacion {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: beige;
    border-radius: 50%;
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo-dest {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0px;
    color: rgb(0, 0, 0);
  }
  .titulo-user {
    font-size: 16px;
    letter-spacing: 1px;
    width: 98%;
    height: auto;
    text-align: left;
    margin-bottom: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    font-style: italic;
  }
  .nombreUsuario {
    font-weight: bold;
    font-size: 16px;
  }
  .notiProducto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .bolita {
    color: white;
    width: auto;
    height: auto;
    background-color: red;
    border-radius: 12px;
  }
  .noti {
    padding: 5px 10px;
    font-weight: bold;
  }
}
