* {
  font-family: Arial, Helvetica, sans-serif;
}
.encabezado-productos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: chocolate;
}
.contenedor-logo {
  margin-left: 40px;
  width: auto;
  height: auto;
}
.contenedor-logo .logo-producto {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.titulo-user{
  font-size: 20px;
  letter-spacing: 1px;
  width: 40%;
  height: auto;
  text-align: center;
  margin-bottom: 12px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.35em;
  font-style: italic;
}
.nombreUsuario{
  font-weight: bold;
  font-size: 20px;
}
.contenedor-opciones {
  width: auto;
  height: auto;
  margin: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.titulo-dest {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0px;
  color: white;
}
.titulo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
.Carrito-compras {
  width: auto;
  height: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  cursor: pointer;
}
.shop-productos {
  width: 40px;
  height: 40px;
}
.notificacion {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: beige;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
/* From Uiverse.io by Ali-Tahmazi99 */
/* From uiverse.io by @Ali-Tahmazi99 */
.Cerrar-Sesion {
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #e0aaff;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  color: black;
  transition-duration: 0.5s;
}

.Cerrar-Sesion ::before,
.Cerrar-Sesion ::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.Cerrar-Sesion ::before {
  left: -10px;
  background: red;
}

.Cerrar-Sesion ::after {
  right: -10px;
  background: black;
}

.Cerrar-Sesion :hover::before,
.Cerrar-Sesion :hover::after {
  width: 58%;
}

.Cerrar-Sesion :hover span {
  color: white;
  transition: 0.3s;
}
span {
  font-weight: bold;
  color: black;
  transition: all 0.3s ease-in;
}
span:hover {
  color: white;
}
.Cerrar-Sesion {
  color: white;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
/* Botones admin */
/* From Uiverse.io by lenfear23 */
.button-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.button-admin:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.button-admin:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button-admin.button-admin:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
/* Contenedor de productos  */
.contenedor-productos {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  margin: auto;
}
.productosDesct {
  margin: auto;
  width: 85%;
  height: auto;
  padding: 20px 25px;
  border: 2px solid black;
  background-color: black;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
/* From Uiverse.io by MuhammadHasann */
.card {
  --bg-card: rgb(227, 227, 227);
  --primary: chocolate;
  --primary-800: #ffffff;
  --primary-shadow: chocolate;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;

  padding: 1rem;
  width: 13rem;
  height: 350px;
  background-color: var(--bg-card);

  border-radius: 10px;
}

.image_container {
  /* overflow: hidden; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-800);
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.image_container .image {
  width: 3rem;
  height: auto;
}
.imgProducto {
  width: 70%;
  width: 70%;
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: chocolate;
  text-transform: capitalize;
  text-wrap: wrap;
}

.action {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: chocolate;
}

.cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 50%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 2px solid chocolate;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px chocolate;
}

.cart-button .cart-icon {
  width: 1rem;
}

/* Productos Venta */
.productos-venta {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}
.notiProducto {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bolita {
  color: white;
  width: auto;
  height: auto;
  background-color: red;
  border-radius: 12px;
}
.noti {
  padding: 5px 10px;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (width < 1180px) {
  .card {
    --bg-card: rgb(227, 227, 227);
    --primary: chocolate;
    --primary-800: #ffffff;
    --primary-shadow: chocolate;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;

    padding: 1rem;
    width: 18rem;
    height: 420px;
    background-color: var(--bg-card);

    border-radius: 10px;
  }
  .titulo-user{
    font-size: 20px;
    letter-spacing: 1px;
    width: 40%;
    height: auto;
    text-align: left;
    margin-bottom: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.35em;
    font-style: italic;
  }
  .nombreUsuario{
    font-weight: bold;
    font-size: 20px;
  }
}
@media (520px <= width < 768px) {
  .encabezado-productos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: chocolate;
  }
  .contenedor-logo {
    width: auto;
    height: auto;
  }
  .contenedor-logo .logo-producto {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .contenedor-opciones {
    width: auto;
    height: auto;
    margin: 20px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
  }
  .titulo-user{
    font-size: 16px;
    letter-spacing: 1px;
    width: 98%;
    height: auto;
    text-align: left;
    margin-bottom: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 0.35em;
    font-style: italic;
  }
  .nombreUsuario{
    font-weight: bold;
    font-size: 16px;
  }
}
@media (width <= 500px) {
  .contenedor213 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
  }

  .encabezado-productos {
    width: 23%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: chocolate;
    position: sticky;
    top: 0;
  }
  .contenedor-logo {
    margin-top: 50px;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    transform: translateX(-40px);
  }
  .contenedor-logo .logo-producto {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contenedor-opciones {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
    transform: translateX(-20px);
  }
  .Carrito-compras {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    cursor: pointer;
  }
  .Cerrar-Sesion {
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #e0aaff;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    color: black;
    transition-duration: 0.5s;
    font-size: 12px;
  }
  .button-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 80px;
    height: 40px;
    background-image: linear-gradient(
      to top,
      #d8d9db 0%,
      #fff 80%,
      #fdfdfd 100%
    );
    border-radius: 30px;
    border: 1px solid #8f9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  .contenedor-productos {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 78%;
    height: auto;
    margin: auto;
  }
  .productosDesct {
    margin: auto;
    width: 93%;
    height: auto;
    padding: 20px 5px;
    background-color: black;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25em;
  }
  /* tarjetas productos */
  .card {
    --bg-card: rgb(227, 227, 227);
    --primary: chocolate;
    --primary-800: #ffffff;
    --primary-shadow: chocolate;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3.5rem;

    padding: 0.3rem;
    width: 7.2rem;
    height: 220px;
    background-color: var(--bg-card);

    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
  }

  .image_container {
    /* overflow: hidden; */
    cursor: pointer;
    background-color: var(--primary-800);
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .image_container .image {
    width: 1.5rem;
    height: 30px;
  }
  .imgProducto {
    width: 70%;
  }

  .title {
    overflow: clip;
    width: 100%;
    font-size: 8px;
    color: chocolate;
    text-transform: capitalize;
    text-wrap: wrap;
  }

  .action {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.2rem;
  }

  .price {
    font-size: 9px;
    font-weight: bold;
    color: chocolate;
  }

  .cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    width: 65%;
    background-image: var(--bg-linear);

    font-size: 7px;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    text-wrap: nowrap;

    border: 2px solid chocolate;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px chocolate;
  }

  .cart-button .cart-icon {
    width: 0.7rem;
  }
  .notificacion {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: beige;
    border-radius: 50%;
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo-dest {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0px;
    color: white;
  }
  .titulo-user{
    font-size: 16px;
    letter-spacing: 1px;
    width: 98%;
    height: auto;
    text-align: left;
    margin-bottom: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 0.35em;
    font-style: italic;
  }
  .nombreUsuario{
    font-weight: bold;
    font-size: 16px;
  }
  .notiProducto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .bolita {
    color: white;
    width: auto;
    height: auto;
    background-color: red;
    border-radius: 12px;
  }
  .noti {
    padding: 5px 10px;
    font-weight: bold;
  }
}
